*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-fundo: #f0f0f0;
    --cor-texto: #333;
}

body{
    background-color: #9be89c;
    background: radial-gradient( circle ,  var(--cor-primaria) 5%, var(--cor-terciaria) 85%);
    width: 100vw;
    height: 100vh;
}

#cabecalho{
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}